/*---------------------
    About Section
-----------------------*/
.single-post {
    padding-top: 0;
}

.single-post__hero {
    height: 960px;
}

.single-post__title {
    background: $white-color;
    box-shadow: -1px 5px 5px rgba(20, 14, 5, 0.1);
    padding: 50px;
    padding-right: 40px;
    position: relative;
    margin-top: -105px;
    margin-bottom: 50px;
}

.single-post__title__meta {
    background: #f2f2f2;
    height: 110px;
    width: 110px;
    text-align: center;
    padding-top: 28px;
    float: left;
    margin-right: 30px;

    h2 {
        font-size: 42px;
        color: $heading-color;
        font-family: $fm-nunito;
        font-weight: 900;
        line-height: 28px;
    }

    span {
        font-size: 24px;
        color: #888888;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        display: block;
    }
}

.single-post__title__text {
    overflow: hidden;

    .label {

        li {
            list-style: none;
            display: inline-block;
            margin-right: 18px;
            color: $primary-color;
            font-size: 12px;
            text-transform: uppercase;
            position: relative;
            font-weight: 700;

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }

            &:after {
                position: absolute;
                right: -14px;
                top: -2px;
                content: "|";
                color: #d7d7d7;
            }
        }
    }

    h4 {
        font-size: 26px;
        color: $heading-color;
        line-height: 34px;
    }

    .widget {

        li {
            list-style: none;
            display: inline-block;
            margin-right: 25px;
            font-size: 12px;
            color: #888888;
            position: relative;

            span {
                color: $heading-color;
            }

            &:after {
                position: absolute;
                right: -18px;
                top: -1px;
                content: "|";
                color: #d7d7d7;
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }
        }
    }
}

.single-post__social__item {
    position: absolute;
    top: 40px;
    left: -70px;

    ul {

        li {
            list-style: none;

            a {
                display: inline-block;
                font-size: 16px;
                color: $heading-color;
                height: 46px;
                width: 46px;
                background: #f2f2f2;
                line-height: 46px;
                text-align: center;
                @include transition(all, .3s);
                margin-bottom: 10px;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background: $primary-color;
                    color: $white-color;
                }
            }
        }
    }
}

.single-post__top__text {
    margin-bottom: 25px;

    p {
        font-size: 15px;
    }
}

.single-post__recipe__details {
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
}

.single-post__recipe__details__option {
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;

    ul {
        overflow: hidden;

        li {
            list-style: none;
            float: left;
            margin-right: 48px;

            &:last-child {
                margin-right: 0;
            }

            h5 {
                text-transform: uppercase;
                margin-bottom: 5px;

                i {
                    font-size: 16px;
                    margin-right: 5px;
                }
            }

            span {
                font-size: 14px;
                color: #888888;
            }

            .primary-btn {

                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

.single-post__recipe__details__indegradients {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;

    h5 {
        font-size: 20px;
        color: $heading-color;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    ul {

        li {
            list-style: none;
            font-size: 15px;
            color: #444444;
            line-height: 30px;
            position: relative;
            padding-left: 20px;

            &:before {
                position: absolute;
                left: 0;
                top: 13px;
                height: 3px;
                width: 3px;
                background: $heading-color;
                content: "";
            }
        }
    }
}

.single-post__recipe__details__direction {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 15px;

    h5 {
        font-size: 20px;
        color: $heading-color;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    ul {

        li {
            list-style: none;
            font-size: 15px;
            color: #444444;
            line-height: 30px;
            position: relative;
            padding-left: 20px;

            span {
                font-size: 15px;
                color: $heading-color;
                opacity: .7;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

.single-post__middle__text {
    @extend .single-post__top__text;
    margin-bottom: 20px;

    p {
        font-size: 15px;
    }
}

.single-post__quote {
    padding-left: 75px;
    position: relative;
    margin-bottom: 20px;

    &::before {
        position: absolute;
        left: 0;
        top: 3px;
        background-image: url(../../img/categories/single-post/quote-left.png);
        height: 55px;
        width: 55px;
        content: "";
    }

    p {
        font-size: 24px;
        color: $heading-color;
        line-height: 30px;
        margin-bottom: 10px;
        font-family: $fm-unna;
    }

    span {
        font-size: 15px;
        color: #888888;
        text-transform: uppercase;
    }
}
.single-post__desc {
    margin-bottom: 25px;

    p {
        font-size: 15px;
    }

    h4 {
        color: $heading-color;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
}

.single-post__more__details {
    margin-bottom: 20px;

    img {
        min-width: 100%;
    }

    p {
        font-size: 15px;
        margin-bottom: 0;
    }
}

.single-post__last__text {
    margin-bottom: 25px;

    p {
        font-size: 15px;

        &:first-child {
            margin-bottom: 10px;
        }
    }
}

.single-post__tags {
    margin-bottom: 50px;

    a {
        display: inline-block;
        font-size: 13px;
        color: #444444;
        background: #f2f2f2;
        padding: 8px 16px 6px;
        letter-spacing: 1px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.single-post__next__previous {
    margin-bottom: 60px;
}

.single-post__previous {
    display: block;

    h6 {
        font-size: 15px;
        color: $heading-color;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $fm-nunito;
        margin-bottom: 25px;

        span {
            font-size: 23px;
            color: #444444;
            position: relative;
            top: 4px;
        }
    }
}

.single-post__previous__meta {
    height: 65px;
    width: 65px;
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-right: 20px;

    h4 {
        font-size: 26px;
        font-family: $fm-nunito;
        font-weight: 900;
        line-height: 12px;
    }

    span {
        font-size: 12px;
        color: #888888;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.single-post__previous__text {
    overflow: hidden;

    span {
        font-size: 12px;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 700;
    }

    h5 {
        line-height: 23px;
        margin-top:5px;
    }
}

.single-post__next {
    @extend .single-post__previous;
    text-align: right;
}

.single-post__next__meta {
    @extend .single-post__previous__meta;
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.single-post__next__text {
    @extend .single-post__previous__text;
}

.single-post__author__profile {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 50px;
}

.single-post__author__profile__pic {
    float: left;
    margin-right: 30px;

    img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
}

.single-post__author__profile__text {
    overflow: hidden;

    h4 {
        text-transform: uppercase;
    }

    p {
        font-size: 15px;
    }

    .single-post__author__profile__social {

        a {
            display: inline-block;
            font-size: 16px;
            color: $heading-color;
            height: 36px;
            width: 36px;
            background: #e1e1e1;
            line-height: 36px;
            text-align: center;
            margin-right: 6px;
            margin-top: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.single-post__comment {
    margin-bottom: 20px;
}

.widget__title {
    margin-bottom: 40px;

    h4 {
        display: inline-block;
        color: $heading-color;
        text-transform: uppercase;
        position: relative;
        z-index: 1;

        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50%;
            width: 100%;
            background: $primary-color;
            opacity: .3;
            content: "";
        }
    }
}

.single-post__comment__item {
    margin-bottom: 10px;

    &.single-post__comment__item--reply {
        padding-left: 120px;
    }
}

.single-post__comment__item__pic {
    float: left;
    margin-right: 25px;

    img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
}

.single-post__comment__item__text {
    overflow: hidden;
    position: relative;

    h5 {
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    span {
        font-size: 12px;
        color: #888888;
        display: block;
        margin-bottom: 10px;
    }

    p {
        font-size: 15px;
    }

    ul {
        position: absolute;
        top: 0;
        right: 0;

        li {
            list-style: none;
            margin-right: 15px;
            display: inline-block;

            a {
                font-size: 18px;
                color: #444444;
                @include transition(all, .3s);

                &:hover {
                    color: $primary-color;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.single-post__leave__comment {

    form {

        .input-list {
            margin-right: -20px;

            input {
                height: 46px;
                width: calc(33.33% - 20px);
                background: transparent;
                border: 1px solid #e1e1e1;
                font-size: 14px;
                color: #444444;
                padding-left: 20px;
                margin-bottom: 20px;
                margin-right: 16px;

                &:last-child {
                    color: #444444;
                }
            }

        }

        textarea {
            height: 190px;
            width: 100%;
            background: transparent;
            border: 1px solid #e1e1e1;
            font-size: 14px;
            color: #444444;
            padding-top: 12px;
            padding-left: 20px;
            margin-bottom: 14px;
            resize: none;

            &:last-child {
                color: #444444;
            }
        }

        button {
            width: 100%;
        }
    }
}
