<template>
  <div class="footer__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube-play"></i></a>
    <a href="#"><i class="fa fa-envelope-o"></i></a>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
