<template>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut<br />
    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
    Risus commodo viverra<br />
    maecenas accumsan lacus vel facilisis.
  </p>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
