{% extends "/admin/dashboard/layout.html.twig" %}

{% block title %}
	Tags List
{% endblock %}

{% block style %}
	.btn-save {
		color: #fff;
		background-color: #007bff;
	}
	.btn-save:hover {
		color: #373a3c;
	}
	a:focus {
		color: none;
		}
	@media screen and (max-width: 600px) {
		.csv-button {
			margin-left: -15px;
		}
		.csv-rules {
			margin-bottom: 15px;
		}
	}
	small {
		font-size: 15px;
	}
{% endblock %}

{% block heading %}
	<h4>
		Dashboard
	</h4>
	<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
		<li class="breadcrumb-item">
			<a href="{{ path('admin_dashboard') }}">
				<i class="icofont icofont-home"></i>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a>Master Data</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('admin_tags_index') }}">Tags</a>
		</li>
	</ol>
{% endblock %}

{% set create_error = app.flashes('create_error') %}
{% set edit_error = app.flashes('edit_error') %}
{% set messages = app.flashes('msg') %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-4">
							<h5 class="card-header-text">
								<span>
									<a data-toggle="modal" data-target="#create-modal">
										<i class="icofont icofont-plus-circle"></i>
									</a>
								</span>
								New Tags
							</h5>
						</div>
						<div class="col-md-5 offset-md-3">
							<form id="form" method="POST" action="{{ path('csv_tags_import') }}" enctype="multipart/form-data">
								<input type="hidden" name="_token" value="{{ csrf_token('tags_import') }}">
								<label style="padding-right: 5px">Import CSV File:
								</label>
								<input name="csv" type="file" accept="text/csv" style="width: 40%">
								<button type="submit" class="btn btn-save">
									<i class="icofont icofont-upload"></i>
									<span>Import</span>
								</button>
							</form>
						</div>
					</div>

					<div class="row" style="margin: 15px 0px 10px 0px;">
						<div class="col-md-4 csv-button csv-rules">
							<button class="btn btn-primary" data-toggle="modal" data-target="#rules-modal">CSV Rules</button>
						</div>
						<div class="col-md-4 offset-md-4 csv-button">
							<a href="{{ path('csv_tags_download') }}" class="btn btn-save">
								<i class="icofont icofont-download"></i>
								<span>Download CSV Sample</span>
							</a>
						</div>
					</div>

					<div class="card-block">
						<div class="row">
							<div class="col-sm-12 table-responsive">
								<table class="table table-hover table-striped">
									<thead>
										<tr>
											<th>No</th>
											<th>Name</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% if (tags and tags.getTotalItemCount > 0) %}
											{% for index, tag in tags %}
												<tr>
													<td>{{ tags.getItemNumberPerPage * (tags.getCurrentPageNumber - 1) + index + 1 }}</td>
													<td><i class="icofont icofont-tags" aria-hidden="true"></i> {{ tag.getName() }}</td>
													<td>
														<span>
															<a id="showDeleteModal" data-toggle="modal" data-target="#delete-modal" data-tags-id="{{ tag.getId() }}">
																<i class="icofont icofont-ui-delete"></i>
															</a>
														</span>
														<span style="margin-left: 15px">
															<a id="showEditModal" data-toggle="modal" data-target="#edit-modal" data-tags-id="{{ tag.getId() }}" data-tags-name="{{ tag.getName() }}" >
																<i class="icofont icofont-ui-edit"></i>
															</a>
														</span>
													</td>
												</tr>
											{% endfor %}
										{% else %}
											<tr class="text-center">
												<td colspan="3">No record found.</td>
											</tr>
										{% endif %}
									</tbody>
								</table>
								{# Page pagination #}
								<div class="row">
									<div class="text-center" style="margin-top: 30px">
										{{ knp_pagination_render(tags) }}
									</div>
								</div>
								{# End pagination #}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    {% include "admin/dashboard/modals/tags/rules_modal.html.twig" with {"item": "Tags"} %}
    {% include "admin/dashboard/modals/tags/create_modal.html.twig" %}
		{% include "admin/dashboard/modals/notification_modal.html.twig" %}
		{% include "admin/dashboard/modals/tags/delete_modal.html.twig" %}
		{% include "admin/dashboard/modals/tags/edit_modal.html.twig" %}

	{% endblock %}

	{% block script %}
	{# Show error validation on creating #}
	{% if create_error %}
		<script>
			$('#create-modal').modal('show');
		</script>
	{% endif %}

	{# Show edit modal when validation fails #}
	{% if edit_error %}
	<script>
		$("#edit-modal").modal("show");
	</script>
	{% endif %}

	{# Show success message  #}
	{% if messages %}
		<script>
			$('#notify-modal').modal('show');
		</script>
	{% endif %}

	<script>
    $("#form").on("submit", function (event) {
        if (!$('input[type="file"]').val()) {
        event.preventDefault();
        alert('Please choose a csv file before submit');
      }
	  });

		//pass id to delete modal
		$('#delete-modal').on('show.bs.modal', function (event) {
			var trigger = $(event.relatedTarget);
			var tagsId = trigger.data('tags-id');
			var modal = $(this);
			modal.find('#tags-id').val(tagsId);
		});

		//pass params of id, name to edit modal
		$("#edit-modal").on("show.bs.modal", function (event) {
				var trigger = $(event.relatedTarget);
				var tagsId = trigger.data('tags-id');
				var tagsName = trigger.data('tags-name');
				var modal = $(this);
				modal.find('#tags-id').val(tagsId);
				modal.find('#tags-name').val(tagsName);
			});
    </script>

	{% endblock %}
