<div class="modal fade" id="recycle-modal" tabindex="-1" role="dialog" aria-labelledby="recycleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <form action="{{ path('admin_topic_restore') }}" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <input type="hidden" name="_token" value="{{ csrf_token('restore_topic') }}">
          <input type="hidden" name="topic_id" id="topic-id">
          <h5 class="modal-title" id="modal-label">Do you want to restore this topic?</h5>
          <p style="font-size: 15px; padding-top: 10px">Topic which are restored will be displayed in master data.</p>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Restore</button>
        </div>
      </div>
    </form>
  </div>
</div>
