<template>
  <div class="single-post__author__profile">
    <div class="single-post__author__profile__pic">
      <img src="img/categories/single-post/author-profile.jpg" alt="" />
    </div>
    <div class="single-post__author__profile__text">
      <h4>Lena Mollein.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <div class="single-post__author__profile__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube-play"></i></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>