<template>
  <div class="breadcumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="bradcumb-title text-center">
            <h2>Single Post Blog</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.breadcumb-area {
  background-image: url("../../img/breadcumb.jpg");
}
.bradcumb-title h2 {
    font-size: 48px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 1.25;
}
</style>