<template>
  <div class="col-lg-6 col-md-6">
    <div class="header__logo">
      <router-link to="/home"><img src="../../img/logo.png" alt="" /></router-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
