<template>
  <div class="col-lg-3 col-md-3">
    <div class="header__btn">
      <a href="#" class="primary-btn" style="color: #fdo"
        ><i style="padding-right: 10px" class="fa fa-youtube-play" aria-hidden="true"></i>Subsribe</a>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
