<template>
  <div class="humberger__menu__logo">
    <a href="#"><img src="../../img/humberger/humberger-logo.png" alt="" /></a>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>