{% extends 'admin/auth/layout.html.twig' %}

{% block title %}
	Login Form
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}
<body>
	<section
		class="login p-fixed d-flex text-center bg-primary common-img-bg">
		<!-- Container-fluid starts -->
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-12">
					<div class="login-card card-block">
						<form class="md-float-material" method="POST" action="{{ path('admin_auth_login') }}">
							<input type="hidden" name="_token" value="{{ csrf_token('login') }}">
							<div class="text-center">
								<img src="{{ asset('assets/images/logo-black.png') }}" alt="logo">
							</div>
							<h3 class="text-center txt-primary">
								Sign In to your account
							</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="md-input-wrapper">
										<input type="text" class="md-form-control" name="account" value="{{ app.session.get('account') }}"/>
										<label>Username/Email</label>
										{% for msg in app.flashes('account') %}
											<h5>
												{{ msg }}
											</h5>
										{% endfor %}
									</div>
								</div>

								<div class="col-md-12">
									<div class="md-input-wrapper">
										<input type="password" class="md-form-control" name="password"/>
										<label>Password</label>
										{% for msg in app.flashes('password') %}
											<h5>
												{{ msg }}
											</h5>
										{% endfor %}
									</div>
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="rkmd-checkbox checkbox-rotate checkbox-ripple m-b-25">
										<label class="input-checkbox checkbox-primary">
											<input type="checkbox" id="checkbox">
											<span class="checkbox"></span>
										</label>
										<div class="captions">Remember Me</div>

									</div>
								</div>
								<div class="col-sm-6 col-xs-12 forgot-phone text-right">
									<a href="#" class="text-right f-w-600">
										Forget Password?</a>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-10 offset-xs-1">
									<button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
								</div>
							</div>
							<!-- <div class="card-footer"> -->
							<div class="col-sm-12 col-xs-12 text-center">
								<span class="text-muted">Don't have an account?</span>
								<a href="{{ path('admin_auth_register_form') }}" class="f-w-600 p-l-5">Sign up Now</a>
							</div>

							<!-- </div> -->
						</form>
						<!-- end of form -->
					</div>
					<!-- end of login-card -->
				</div>
				<!-- end of col-sm-12 -->
			</div>
			<!-- end of row -->
		</div>
		<!-- end of container-fluid -->
	</section>
</body>
{% endblock %}
