<div class="modal" id="edit-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Edit Tags</h4>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<form action="{{ path('admin_tags_update') }}" id="edit-form" method="POST">
          <input type="hidden" name="_token" value="{{ csrf_token('update_tags') }}">
					<input type="hidden" name="tags_id" id="tags-id">
					<div class="form-group">
						<label for="tags_name">Name</label>
						<input class="form-control" type="text" name="tags_name" id="tags-name">
						{% for msg in edit_error %}
							<small class="form-text text-muted text-danger">
								{{ msg }}
							</small>
						{% endfor %}
					</div>
					<diV class="text-center">
						<button type="button" class="btn btn-success float-left" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="btnUpdateSubmit">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
