<div class="modal fade" id="rules-modal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CSV Rules</h5>
      </div>
      <div class="modal-body">
        <ol>
            <li>{{ item }} name can not be null.</li>
            <li>{{ item }} name must be unique.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
