<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome to blogger.test!{% endblock %}
		</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{% block stylesheet %}{% endblock %}
		<style>
			.bg-pattern {
				background-attachment: fixed;
				background-position: center center;
				background-image: url('/assets/images/bg-pattern.jpg');
				position: relative;
				background-size: cover;
				z-index: 1;
			}

			.bg-pattern:after {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				content: '';
				background-color: rgba(255, 255, 255, 0.95);
				z-index: -1;
			}

			#bg-close > i {
				position: fixed;
				width: 20px;
				height: 20px;
				background-color: #111;
				font-size: 11px;
				line-height: 20px;
				border-radius: 50%;
				right: 110px;
				top: calc(15% - 10px);
				text-align: center;
				z-index: 99999;
				color: #fff;
				cursor: pointer;
			}

			#bg-switcher:hover {
				background-color: #e3410e;
			}

			#bg-switcher {
				width: 120px;
				background-color: #fc6c3f;
				position: fixed;
				top: 15%;
				z-index: 9999;
				cursor: pointer;
				height: 50px;
				right: 0;
				color: #fff;
				font-size: 12px;
				line-height: 50px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				-webkit-transition-duration: 500ms;
				transition-duration: 500ms;
			}
		</style>
	</head>
	<body {# oncontextmenu="return false;" #}> 
    
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}

		{# background switcher #}
		<div id="switcher">
			<!-- Switch background color -->
			<div id="bg-switcher">Background</div>
			<div id="bg-close">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
		</div>

		<script>
            $('#bg-close').on('click', function() {
                $('#switcher').css('display', 'none');
            });

            $('#bg-switcher').on('click', function() {
                if ($('.main_content').hasClass('bg-pattern')) {
                    $('.main_content').removeClass('bg-pattern');
					$('.header__top').removeClass('bg-pattern');
					$('footer').removeClass('bg-pattern');
                }
                else {
                    $('.main_content').addClass('bg-pattern');
					$('.header__top').addClass('bg-pattern');
					$('footer').addClass('bg-pattern');
                }
            });
        </script>
	</body>
</html>
