<template>
  <div class="sidebar__follow__item">
    <div class="widget__title">
      <h6>Follow me</h6>
    </div>
    <div class="sidebar__item__follow__links">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube-play"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-envelope-o"></i></a>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
